<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.espasyoadmin">
    <!-- For map functionalities -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/espasyo_admin_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EspasyoAdmin">
        <activity
            android:name=".admin.views.AdminChangeEmailActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.AdminChangeNameActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.RoomDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.ShowAllRoomsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.DeclinedRequestDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.VerifiedRequestDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.ProvideReasonDeclinedVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.AdminAccountActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.PreviewImageActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.DeclinedVerificationRequestsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.UnverifiedVerificationRequestsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.VerificationRequestsOnTheirStatus"
            android:exported="true" />
        <activity
            android:name=".admin.views.CheckVerificationRequestActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.VerifiedVerificationRequestsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.PropertiesOnMapActivity"
            android:exported="true">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key" />
        </activity>
        <activity
            android:name=".admin.views.PropertyDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.views.PropertyMasterListActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>